/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

@background_color: #FCFCFC;

// Fonts
@monospace: 'Droid Sans Mono', 'Menlo', monospace;
@title_font: 'Coda', sans-serif;
@font: 'Ubuntu', sans-serif;
@font_size: 12px;

// Header
@header_height: 48px;

// Panels
@panel_resizer_color: #DDD;
@panel_resizer_hover_time: 0.1s;
@panel_options_height: 38px; // keep in sync with config.panel_min
@panel_padding: 4px;

// CodeMirror
@mirror_font_size: 11px;

// Buttons
@button_transition_time: 0.05s;

// Inputs
@input_border_color: #9A9A9A;
@input_border_focus_color: #89C;
@input_background_color: #F8F8F8;
@input_background_focus_color: #F4F4FF;
@input_text_color: #666;
@input_transition_time: 0.1s;

// CDN filter
@filter_active_bg_color: #D7DDE5;
