/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

textarea:focus, input:focus, button:focus { outline: none; }

input[type='text'], input[type='search'] {
  background-color: @input_background_color;
  color: @input_text_color;
  padding: 2px 4px;
  font-family: @font;
  font-size: @font_size;

  border: 1px solid fade(@input_border_color, 60%);
  box-shadow: 0 0 2px fade(@input_border_color, 30%),
    inset 0 0 4px fade(@input_border_color, 10%);

  transition: border-color @input_transition_time,
    box-shadow @input_transition_time;

  &:focus {
    background-color: @input_background_focus_color;
    border-color: fade(@input_border_focus_color, 95%);
    box-shadow: 0 0 2px fade(@input_border_focus_color, 60%),
      inset 0 0 4px fade(@input_border_focus_color, 30%);
  }

  &:disabled { background-color: #EEE; }
}
