/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

@input_border_color: #AAA;
@input_border_focus_color: #BBC;
@input_transition_time: 0.1s;

textarea:focus, input:focus, button:focus { outline: none; }

input[type='text'], input[type='search'] {
  background-color: #F8F8F8;
  color: #666;
  padding: 2px 4px;
  font-family: @font;
  font-size: @font_size;

  &::-webkit-input-placeholder { opacity: 0.4; }
  &::-ms-input-placeholder { opacity: 0.4; }
  &::-o-input-placeholder { opacity: 0.4; }
  &::-moz-placeholder { opacity: 0.4; }

  border: 1px solid fade(@input_border_color, 60%);
  border-radius: 1px;
  box-shadow: 0 0 2px fade(@input_border_color, 30%),
    inset 0 0 4px fade(@input_border_color, 10%);

  transition: border-color @input_transition_time,
    box-shadow @input_transition_time;

  &:focus {
    background-color: #F8F8FF;
    border-color: fade(@input_border_focus_color, 95%);
    box-shadow: 0 0 2px fade(@input_border_focus_color, 60%),
      inset 0 0 4px fade(@input_border_focus_color, 30%);
  }

  &:disabled { background-color: #EEE; }
}

// CDN filter results
input[type='text'] + .results {
  display: none;
  opacity: 0;

  z-index: 1;
  position: absolute;
  overflow: hidden;

  margin-top: @panel_padding * 3;
  padding: 4px;
  left: @panel_padding * 2;
  right: @panel_padding * 2;

  background-color: #F2F2F2;
  border: 1px solid @input_border_color;
  border-radius: 2px;

  box-shadow: 0 0 4px fade(@input_border_color, 90%),
    inset 0 0 8px fade(@input_border_color, 30%);

  > ol {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    &.overflow > li { margin-right: 4px; }

    > li {
      color: #555;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
      font-family: @monospace;
      font-size: @font_size - 1px;      
      padding: 5px 4px 3px 4px;
      margin: 0;

      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        box-shadow: 0 0 2px fade(@input_border_focus_color, 80%);
        background-color: #ABC;
        border-color: #89A;
        > .right { border-color: #89A; }
      }

      // version number
      > .right {
        background-color: #DDD;
        border: 1px solid #AAA;
        border-radius: 2px;
        padding: 2px;
        margin-top: -2px;
        margin-left: -100%;
      }
    }
  }
}
