/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

@import url('//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('//fonts.googleapis.com/css?family=Coda');
@font: 'Coda', sans-serif;

// frontenddevreactions.tumblr.com/post/50110341554
*, *:before, *:after { box-sizing: border-box; }

textarea:focus, input:focus, button:focus { outline: none; }

html, body, #jsbyte {
  height: 100%;
  overflow: hidden;
}

.flex { display: flex; }
.left { float: left; }
.right { float: right; }
.faded { opacity: 0.7; }
.bold { font-weight: bold; }
.noselect { user-select: none; }
.nopointer { pointer-events: none; }

@import 'entypo.less';
@import 'overlays.less';
@import 'header.less';
@import 'panels.less';
@import 'buttons.less';
