/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

@import 'config.less';
@import 'mixins.less';
@import url('https://fonts.googleapis.com/css?family=Coda');

// frontenddevreactions.tumblr.com/post/50110341554
*, *:before, *:after { box-sizing: border-box; }

textarea:focus, input:focus, button:focus { outline: 0; }

html, body, #jsbyte {
  height: 100%;
  overflow: hidden;
  margin: 0 !important; padding: 0 !important;
}

header {
  width: 100%;
  height: @header_height;
  background-color: #CCC;
  border-bottom: 4px solid rgba(0,0,0, 0.15);
  padding: 6px;

  #title {
    display: inline-block;
    user-select: none;
    cursor: default;
    height: 100%;
    margin-top: @header_height / 3;
    margin-left: 2px;
    font-family: @font;
    font-size: @header_height - 14px;
    line-height: 0px;
    color: #888;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 200%;
  user-select: none;

  &#loading { background: #EEE; }
}

main { height: calc(100% ~'-' @header_height) }

#input {
  height: 100%;
  white-space: nowrap;

  > * {
    display: inline-block;
    position: relative;
  }

  > .panel {
    margin: 0;
    border: none;
    width: 25%;
    height: 100%;
  }

  > textarea {
    top: -2px;
    resize: none;
    padding: 4px;
    margin-right: -6px !important;
    border-right: 1px solid #DDD !important;
    &.resizing { border-right-color: #BBB !important; }
    &.resizing-limit { border-right-color: #D99 !important; }

    background-color: #FAFAFA;
    &:focus { background-color: #FCFCFC; }
  }

  > .panel-resizer {
    z-index: 1;
    user-select: none;
    width: 0px;
    height: 100%;

    > div {
      width: 8px;
      height: 100%;
      margin-left: -2px;
      cursor: ew-resize;
    }
  }
}

button {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  height: 33px;
  border: 1px solid rgba(0,0,0, 0.05);
  border-bottom: 3px solid rgba(0,0,0, 0.15);
  border-radius: 1px 1px 2px 2px;
  box-shadow: 0 0 6px #B0B0B0;
  font-family: @font;
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
  padding: 0 10px;
  margin-left: 4px;
  color: #FAFAFA;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color @hover_transition_time;

  .button(#AAA);
  &.action { .button(#8AC); }
}

.nopointer { pointer-events: none; }
.faded { opacity: 0.7; }
.bold { font-weight: bold; }
.left { float: left; }
.right { float: right; }
.flex { display: flex; }
