/*
 * jsbyte: An interactive JS/HTML/CSS environment
 */

@import url('//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/codemirror.css');

@panel_resizer_color: #DDD;
@panel_options_height: 38px;
@panel_padding: 4px;

@mirror_font: 'Droid Sans Mono', 'Menlo', monospace;
@mirror_font_size: 11px;

body.ew, body.ew * { cursor: ew-resize !important; }

// layout-a
#input {
  height: 100%;
  white-space: nowrap;
  font-size: 0;

  > * {
    display: inline-block;
    position: relative;
    height: 100%;
  }

  > .panel {
    vertical-align: top;
    width: 25%;

    &.input-panel {
      border-right: 1px solid @panel_resizer_color;

      // FIXME: this should be disabled when manually dragging
      transition: width 0.25s;
    }

    > .panel-options {
      display: flex;
      height: @panel_options_height;
      width: 100%;
      padding: @panel_padding;
      border-bottom: 1px solid @panel_resizer_color;
      background-color: #EEE;

      > * {
        height: 100%;
      }

      > .panel-controls { flex: 1 auto; }
    }

    > .CodeMirror, iframe {
      height: calc(100% ~'-' @panel_options_height);
    }

    > .CodeMirror {
      resize: none;
      padding: 4px;
      cursor: text;

      font-family: @mirror_font !important;
      font-size: @mirror_font_size !important;
    }

    > iframe {
      width: 100%;
    }
  }

  > .panel-resizer {
    z-index: 8;
    user-select: none;
    width: 0;
    height: 100%;

    > div {
      width: 8px;
      height: 100%;
      margin-left: -4px;
      cursor: ew-resize;
    }
  }

  > .panel-section-resizer { display: none; }
}

// layout-b
#input.layout-b {

  white-space: normal;

  > * { height: 50%; }
  > .panel, .panel-resizer { height: 50%; }

  > .panel.input-panel {
    transition: width 0.25s, height 0.25s;
    width: 33%;
    &#style { width: 34%; } // symmetry
  }

  > #output {
    transition: none;

    width: 100%;
    height: 50%;
  }
}
