<header>
  <div class='left flex noselect'>
    <button id='github'><i class='icon-social icon-only github'></i></button>
  </div>

  <div id='title'>
     &#123;<span class='text'><span class='bold'>JS</span>Byte</span>&#125;
  </div>

  <div class='right flex noselect'>
    <button>Sign Up</button>
    <button class='action'>Login</button>
  </div>
</header>

<main>
  <form action='<%= frame %>' method='POST' id='input' target='output'>

    <!-- MARKUP -->
    <div id='markup' class='panel'>
      <div class='panel-options'>
        <input id='cdn' class='fwidth fheight' type='text' disabled='true'
          placeholder='Add a library hosted by CDNJS'>
        <div class="results">
          <div class='nomatch hide'>No matching results.</div>
          <ol></ol>
        </div>
      </div>
      <textarea class='textarea' name='markup' data-mode='htmlmixed'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- STYLE -->
    <div id='style' class='panel'>
      <div class='panel-options'></div>
      <textarea class='textarea' name='style' data-mode='css'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- SCRIPT -->
    <div id='script' class='panel'>
      <div class='panel-options'></div>
      <textarea class='textarea' name='script' data-mode='javascript'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- OUTPUT -->
    <iframe id='output' class='panel' name='output'></iframe>

  </form>
</main>
