<header>
  <div id='title'><span class='bold'>js</span>byte</div></div>

  <div class='right flex'>
    <button>Sign In</button>
    <button class='action'>Log Out</button>
  </div>
</header>

<main>
  <form action='<%= frame %>' method='POST' id='input' target='output'>
    <textarea id='markup' class='panel' name='markup' placeholder='MARKUP'></textarea>
    <div class='panel-resizer'><div></div></div>
    <textarea id='style' class='panel' name='style' placeholder='STYLE'></textarea>
    <div class='panel-resizer'><div></div></div>
    <textarea id='script' class='panel' name='script' placeholder='SCRIPT'></textarea>
    <div class='panel-resizer'><div></div></div>
    <iframe id='output' class='panel' name='output'></iframe>
  </form>
</main>
