<header>
  <div id='title'>
     &#123;<span class='text'><span class='bold'>debugger</span>.io</span>&#125;
  </div>

  <div class='right flex noselect'>
    <button id='layout'><i class='icon icon-only layout'></i></button>
    <button id='github'><i class='icon-social icon-only github'></i></button>
  </div>
</header>

<main>
  <form id='input' action='<%= frame %>' method='POST' target='output'
    autocomplete='off' class='layout-a'>

    <!-- MARKUP -->
    <div id='markup' class='panel input-panel'>
      <div class='panel-options'>
        <button class='panel-switch btn-small'>HTML</button>
        <div class='panel-controls noselect'></div>
      </div>
      <textarea class='textarea' name='markup' data-mode='htmlmixed'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- STYLE -->
    <div id='style' class='panel input-panel'>
      <div class='panel-options noselect'>
        <button class='panel-switch btn-small'>CSS</button>
        <div class='panel-controls'></div>
      </div>
      <textarea class='textarea' name='style' data-mode='css'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- SCRIPT -->
    <div id='script' class='panel input-panel'>
      <div class='panel-options'>
        <button class='panel-switch btn-small'>JavaScript</button>
        <div class='panel-controls noselect'></div>
      </div>
      <textarea class='textarea' name='script' data-mode='javascript'></textarea>
    </div>
    <div class='panel-resizer panel-master-resizer'><div></div></div>

    <!-- OUTPUT -->
    <div id='output' class='panel'>
      <div class='panel-options'>
        <div class='panel-controls noselect'></div>
        <button id='run' class='btn-small right action'>Run</button>
      </div>
      <iframe name='output'></iframe>
    </div>

  </form>
</main>
