<header>
  <div id='title-wrapper'>
    <span id='title' spellcheck="false" contenteditable='true' data-localize='untitled_bug'>%</span>
    <i id='edit-title' class='fa fa-lg fa-pencil icon-only'></i>
  </div>
  <div id='toolbar' class='flex noselect'></div>
</header>

<main>
  <form id='input' autocomplete='off'>

    <!-- MARKUP -->
    <div id='markup' class='panel input-panel transition'>
      <div class='panel-options'>
        <button class='btn-small cycle'>HTML</button>
        <div class='panel-controls noselect'></div>
      </div>
      <input class='mode' type='hidden' name='markup_mode' value='htmlmixed'>
      <textarea class='textarea' name='markup'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- STYLE -->
    <div id='style' class='panel input-panel transition'>
      <div class='panel-options noselect'>
        <button class='btn-small cycle'>CSS</button>
        <div class='panel-controls'></div>
      </div>
      <input class='mode' type='hidden' name='style_mode' value='css'>
      <textarea class='textarea' name='style'></textarea>
    </div>
    <div class='panel-resizer'><div></div></div>

    <!-- SCRIPT -->
    <div id='script' class='panel input-panel transition'>
      <div class='panel-options'>
        <button class='btn-small cycle'>JavaScript</button>
        <div class='panel-controls noselect'></div>
        <button id='auto' class='btn-small toggle right' data-localize='autorun'>Autorun</button>
      </div>
      <input class='mode' type='hidden' name='script_mode' value='javascript'>
      <textarea class='textarea' name='script'></textarea>
    </div>
    <div class='panel-resizer panel-master-resizer'><div></div></div>

    <!-- OUTPUT -->
    <div id='output' class='panel'>
      <div class='panel-options'>
        <button class='btn-small' id='save' data-localize='save'>Save</button>
        <button class='btn-small' id='save_as' data-localize='save_as'>Save As</button>
        <button class='btn-small' id='properties' data-localize='properties'>Properties</button>

        <div class='panel-controls noselect'></div>
        <button id='patch' class='btn-small right toggle' data-localize='patch'>Patch</button>
        <button id='run' class='btn-small right purple' data-localize='run'>Run</button>
      </div>
      <iframe name='proxy' allowTransparency='true'
        src='<%- frame %>'></iframe>
    </div>

  </form>
</main>

<div id='com'></div>
<div id='flash'></div>
<div id='popup'></div>
<div id='blank'></div>
