<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
      body { background-color: #FAFAFA; }
      <%= style %>
    </style>

    <script type='application/javascript'>
      document.addEventListener('DOMContentLoaded', function() {
        'use strict';

        try {
          (function() {
            // begin user script
            <%= script %>
            // end user script
          }).call(window);
        } catch(err) {
          // log and output error message
        }
      }, false);
    </script>
  </head>

  <body>
    <%= markup %>
  </body>
</html>