<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
      body { background-color: #FAFAFA; }
      <%= style.output %>
    </style>

    <% if (markup.mode === 'gfm') { %>
      <link rel='stylesheet' type='text/css' href='/css/gfm.min.css'>
    <% } %>

    <script type='application/javascript'>
      document.addEventListener('DOMContentLoaded', function() {
        'use strict';

        try {
          (function() {
            <%= script.output %>
          }).call(window);
        } catch(err) {
          // log and output error message
        }
      }, false);
    </script>
  </head>

  <body>
    <%= markup.output %>
  </body>
</html>
