<form id='signup_form' action='/api/signup' method='post'>
  <input type='hidden' name='_csrf' value='{{csrf}}'>

  <input name='username' placeholder='Username' autocomplete='off' spellcheck='false' class='plain full' maxlength='64' type='text'>
  <input name='email' placeholder='Email Address' autocomplete='off' spellcheck='false' class='plain full' maxlength='64' type='email'>
  <input name='password' placeholder='Password' class='plain full' maxlength='1024' type='password'>
  <input name='confirm' placeholder='Confirm Password' class='plain full' maxlength='1024' type='password'>

  <div class='popup-actionbar'>
    <div class='btn-group right'>
      <button type='submit' class='btn-small action'>Sign Up</button>
    </div>

    <div class='btn-group right'>
      <button class='btn-small popup-cancel'>Cancel</button>
    </div>

    <div class='clear'></div>
  </div>
</form>
