<form id='bug_properties_form'>

  <input name='title' data-localize-placeholder='bug_title'
    type='text' value='<%- data.extras.bug.get('title') %>' autocomplete='off'
    spellcheck='false' class='plain full' maxlength='128'>

  <div class='flex'>
    <label data-localize='private'>Private</label>
    <input id='checkbox-private' type='checkbox' name='private' <% if (data.extras.bug.get('private')) { print("checked") } %>>
    <label for='checkbox-private'><span data-localize='private_tip'>%</span></label>
  </div>

  <div class='popup-actionbar'>
    <% if (!data.extras.bug.isNew() && data.extras.writable) { %>
      <div class='btn-group left'>
        <button type='button' id='delete_bug' class='btn-small danger light' data-localize='delete_bug'>%</button>
      </div>
    <% } %>

    <div class='btn-group right'>
      <button type='submit' class='btn-small action' data-localize='save'>%</button>
    </div>

    <div class='btn-group right'>
      <button class='btn-small popup-cancel' data-localize='cancel'>%</button>
    </div>

    <div class='clear'></div>
  </div>
</form>
