<form id='input_form'>
  {{#each extras}}
    <input name='{{name}}' placeholder='{{placeholder}}'
      type='{{type}}' value='{{value}}' autocomplete='off'
      spellcheck='false' class='plain full' maxlength='128'>
  {{/each}}

  <div class='popup-actionbar'>
    <div class='btn-group right'>
      <button type='submit' class='btn-small action'>Submit</button>
    </div>

    <div class='btn-group right'>
      <button class='btn-small popup-cancel'>Cancel</button>
    </div>

    <div class='clear'></div>
  </div>
</form>
