<form id='signup_form' action='/api/signup' method='post'>
  <input name='username' data-localize-placeholder='username' autocomplete='off' spellcheck='false' class='plain full' maxlength='64' type='text'>
  <input name='email' data-localize-placeholder='email' autocomplete='off' spellcheck='false' class='plain full' maxlength='64' type='email'>
  <input name='password' data-localize-placeholder='password' class='plain full' maxlength='1024' type='password'>
  <input name='confirm' data-localize-placeholder='confirm_password' class='plain full' maxlength='1024' type='password'>

  <div class='popup-actionbar'>
    <div class='btn-group right'>
      <button type='submit' class='btn-small action' data-localize='signup'>Sign Up</button>
    </div>

    <div class='btn-group right'>
      <button class='btn-small popup-cancel' data-localize='cancel'>Cancel</button>
    </div>

    <div class='clear'></div>
  </div>
</form>
