<form id='input_form'>
  <% _.each(data.extras, function(extra) { %>
    <input name='<%- extra.name %>' placeholder='<%- extra.placeholder %>'
      type='<%- extra.type || 'text' %>' value='<%- extra.value %>' autocomplete='off'
      spellcheck='false' class='plain full' maxlength='128'>
  <% }) %>

  <div class='popup-actionbar'>
    <div class='btn-group right'>
      <button type='submit' class='btn-small action'>Submit</button>
    </div>

    <div class='btn-group right'>
      <button class='btn-small popup-cancel'>Cancel</button>
    </div>

    <div class='clear'></div>
  </div>
</form>
