<button id='console'><i class='fa fa-lg fa-terminal icon-only'></i></button>
<button id='layout'><i class='fa fa-lg fa-columns icon-only'></i></button>

<% if (username) { %>
  <button class='action dropdown-button' data-dropdown='user'><%- username %></button>
  <div class='dropdown-menu dropdown-right flow' data-dropdown='user'>
    <ul class='dropdown-menu-content'>
      <li class='dropdown-item' id='settings' data-localize='user_settings'>User Settings</li>
      <li class='dropdown-item' id='logout' data-localize='logout'>Logout</li>
    </ul>
  </div>
<% } else { %>
  <button id='signup' data-localize='signup'>Sign Up</button>
  <button id='login' class='action' data-localize='login'>Login</button>
<% } %>
