<button id='console' class='slate light'><i class='fa fa-terminal slate icon-only'></i></button>
<button id='layout' class='slate light'><i class='fa fa-columns icon-only'></i></button>
<button id='fullscreen' class='slate light'><i class='fa fa-arrows-alt icon-only'></i></button>

<% if (username) { %>
  <button id='user' class='action dropdown-button' data-dropdown='user'><%- username %></button>
  <div class='dropdown-menu dropdown-right flow' data-dropdown='user'>
    <ul class='dropdown-menu-content'>
      <li class='dropdown-item' id='settings' data-localize='settings'>Settings</li>
      <li class='dropdown-item' id='logout' data-localize='logout'>Logout</li>
    </ul>
  </div>
<% } else { %>
  <button id='signup' data-localize='signup' class='slate light'>Sign Up</button>
  <button id='login' class='action' data-localize='login'>Login</button>
<% } %>
