<!DOCTYPE html>
<html>
  <head>
    <title>Sandbug</title>
    <meta charset='UTF-8'>
    <!--
      ███████╗ █████╗ ███╗   ██╗██████╗ ██████╗ ██╗   ██╗ ██████╗
      ██╔════╝██╔══██╗████╗  ██║██╔══██╗██╔══██╗██║   ██║██╔════╝
      ███████╗███████║██╔██╗ ██║██║  ██║██████╔╝██║   ██║██║  ███╗
      ╚════██║██╔══██║██║╚██╗██║██║  ██║██╔══██╗██║   ██║██║   ██║
      ███████║██║  ██║██║ ╚████║██████╔╝██████╔╝╚██████╔╝╚██████╔╝
      ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═════╝  ╚═════╝  ╚═════╝

      https://github.com/gavinhungry/sandbug
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,user-scalable=no'>
    <% _.each(themes, function(theme) { %>
    <link rel='stylesheet' type='text/css' href='/css/sandbug.<%- theme %>.min.css<%- (prod && rev) ? '?v=' + rev : '' %>'><% }); %>
    <script type='application/javascript'>
      window.__sandbug = {
        csrf: '<%- csrf %>',
        mode: <%= JSON.stringify(mode) %>,
        username: <% if (username) { %>"<%- username %>"<% } else { %>null<% } %>
      };
    </script>
    <script type='application/javascript'
      src='//cdn.jsdelivr.net/prefixfree/1.0/prefixfree.min.js'></script>
    <script type='application/javascript' data-main='<%= prod ? '/js/sandbug.min' + (rev ? '.js?v=' + rev : '') : '/src/js/main' %>'
      src='//cdn.jsdelivr.net/requirejs/2.1/require.min.js'></script>
  </head>

  <body>
    <div id='loading' class='overlay'>
      <div class='overlay-wrap'>
        <div class='overlay-msg'>
          <div class='overlay-progress'></div>
        </div>
        <div class='overlay-err'>
          Loading error!
          <div class='overlay-err-text'></div>
        </div>
      </div>
    </div>

    <div id='sandbug'></div>
  </body>
</html>
