<!DOCTYPE html>
<html>
  <head>
    <title>debugger.io</title>
    <meta charset='UTF-8'>
    <!--
      __          __
     /\ \        /\ \                                              __
     \_\ \     __\ \ \____  __  __   ____    ____    ___  ____    /\_\    ____
     / __ \  / __ \ \  __ \/\ \/\ \ / __ \  / __ \  / __\/\  _\   \/\ \  / __ \
    /\ \_\ \/\  __/\ \ \_\ \ \ \_\ /\ \_\ \/\ \_\ \/\  __\ \ \/  __\ \ \/\ \_\ \
    \ \_____\ \____\\ \____/\ \____\ \____ \ \____ \ \____\ \_\ /\_\\ \_\ \____/
     \/____ /\/____/ \/___/  \/___/ \/____\ \/____\ \/____/\/_/ \/_/ \/_/\/___/
                                      /\____/ /\____/
                                      \/___/  \/___/
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,user-scalable=no'>
    <% _.each(themes, function(theme) { %>
    <link rel='stylesheet' type='text/css' href='/css/debuggerio.<%- theme %>.min.css<%- (prod && rev) ? '?v=' + rev : '' %>'><% }); %>
    <script type='application/javascript'>
      window._debugger_io = {
        csrf: '<%- csrf %>',
        mode: <%= JSON.stringify(mode) %>,
        username: <% if (username) { %>"<%- username %>"<% } else { %>null<% } %>
      };
    </script>
    <script type='application/javascript'
      src='//cdn.jsdelivr.net/prefixfree/1.0/prefixfree.min.js'></script>
    <script type='application/javascript' data-main='<%= prod ? '/js/debuggerio.min' + (rev ? '.js?v=' + rev : '') : '/src/js/main' %>'
      src='//cdn.jsdelivr.net/requirejs/2.1/require.min.js'></script>
  </head>

  <body>
    <div id='loading' class='overlay'>
      <div class='overlay-wrap'>
        <div class='overlay-msg'>
          <div class='overlay-progress'></div>
        </div>
        <div class='overlay-err'>
          Loading error!
        </div>
      </div>
    </div>

    <div id='debuggerio'></div>
  </body>
</html>
