<!DOCTYPE html>
<html>
  <head>
    <title>debugger.io</title>
    <meta charset='UTF-8'>
    <!--
      __          __
     /\ \        /\ \                                              __
     \_\ \     __\ \ \____  __  __   ____    ____    ___  ____    /\_\    ____
     / __ \  / __ \ \  __ \/\ \/\ \ / __ \  / __ \  / __\/\  _\   \/\ \  / __ \
    /\ \_\ \/\  __/\ \ \_\ \ \ \_\ /\ \_\ \/\ \_\ \/\  __\ \ \/  __\ \ \/\ \_\ \
    \ \_____\ \____\\ \____/\ \____\ \____ \ \____ \ \____\ \_\ /\_\\ \_\ \____/
     \/____ /\/____/ \/___/  \/___/ \/____\ \/____\ \/____/\/_/ \/_/ \/_/\/___/
                                      /\____/ /\____/
                                      \/___/  \/___/
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <link rel='stylesheet' type='text/css' href='/css/debuggerio.dark.min.css'>
    <link rel='stylesheet' type='text/css' href='/css/debuggerio.light.min.css'>
    <script type='application/javascript'
      src='//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
    <script type='application/javascript' data-main='<%= prod ? 'js/debuggerio.min' : 'src/js/main' %>'
      src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js'></script>
  </head>

  <body>
    <div id='loading' class='overlay'><div>Loading ...</div></div>
    <div id='debuggerio'></div>
  </body>
</html>
