/*
 * debugger.io: An interactive web scripting sandbox
 */

#cdn-results {
  display: none;
  opacity: 0;

  z-index: 4;
  position: absolute;
  max-height: 300px;

  width: calc(100% ~'-' @panel_padding * 2);
  margin-top: @panel_padding * 2 + 4px;
  left: @panel_padding;
  right: @panel_padding;

  background: @filter_results_bg_color;
  border: 1px solid @filter_results_border_color;
  box-shadow: 0 0 4px @filter_results_box_shadow_color;

  > .nomatch {
    font-weight: bold;
    text-align: center;
    color: @filter_result_text_color;
    user-select: none;
    cursor: default;
    padding: 4px 0;
  }

  > ol {
    overflow-x: hidden;
    padding: 4px;

    > li {
      color: @filter_result_text_color;
      text-shadow: 1px 1px 0 darken(@filter_results_bg_color, 10%);
      overflow: hidden;
      user-select: none;
      cursor: default;
      font-family: @monospace;
      font-size: @font_size - 1px;
      padding: 6px;
      margin: 0 0 2px 0;
      white-space: nowrap;
      text-overflow: ellipsis;

      transition: none;

      &:last-child { margin-bottom: 0; }

      border: 1px solid transparent;
      border-bottom-width: 2px;
      border-radius: 1px;

      &:hover {
        background: lighten(@filter_result_active_bg_color, 5%);
        border-color: @filter_result_active_border_color;
        > .right {
          border-color: darken(@filter_result_active_bg_color, 15%)
        }
      }

      &.active {
        background: @filter_result_active_bg_color;
        border-color: darken(@filter_result_active_border_color, 3%);
        > .right {
          border-color: darken(@filter_result_active_bg_color, 20%)
        }
      }

      > .desc {
        font-family: @font;
        opacity: 0.8;
      }
    }
  }
}
