/*
 * debugger.io: An interactive web scripting sandbox
 */

.button (@base: @button_default_base_color, @darken: 10%, @lightdarken: @darken) {
  background: @base;
  border: 1px solid darken(@base, @darken);

  &:not([disabled]) {
    &:hover {
      background: lighten(@base, 4%);
    }

    &:active, &.active {
      background: darken(@base, 2%);
      padding-top: 2px !important;
    }
  }

  &.light {
    @lightbase: desaturate(lighten(@base, 10%), 1%);

    background: @lightbase;
    border-color: darken(@lightbase, @lightdarken);

    &:not([disabled]) {
      &:hover {
        background: lighten(@lightbase, 4%);
      }

      &:active, &.active {
        background: darken(@lightbase, 2%);
      }
    }
  }

  &.toggle {
    @toggle_bg_color: darken(@base, @darken * 1.5);

    &::before {
      background-color: @toggle_bg_color;
      border: 2px solid @toggle_bg_color;
    }

    &.checked::before {
      background-color: lighten(@toggle_bg_color, 40%);
    }

    &:not([disabled]) {
      &:active::before, &.active::before {
        background-color: lighten(@toggle_bg_color, 20%);
      }
    }
  }
}

button {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  height: 33px;
  line-height: 28px;
  border-radius: 1px;
  font-family: @button_font;
  font-weight: 300;
  font-size: @font_size;
  padding: 0 8px;
  margin-left: 0;
  margin-right: 6px;
  color: @button_text_color;
  text-align: right;
  transition: background @button_transition_time;
  overflow: hidden;
  letter-spacing: 0;

  &::-moz-focus-inner { border: none; }

  &.iconify > span {
    display: none;
  }

  > i.fa {
    width: 22px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 0 4px 0 -3px;
    padding-top: 4px;
    pointer-events: none;

    &.icon-only { margin-right: -3px; }
    &.fa-eye, &.fa-sort { vertical-align: -1px; }
  }

  .button(@button_default_base_color);
  &.action { .button(@button_action_base_color, 30%); }
  &.proceed { .button(@button_proceed_base_color, 50%); }
  &.purple { .button(@button_purple_base_color, 30%); }
  &.slate { .button(@button_slate_base_color, 15%, 25%); }
  &.ghost { .button(transparent); }
  &.warning { .button(@button_warning_base_color, 35%); }
  &.danger { .button(@button_danger_base_color, 35%); }

  &.btn-small {
    height: 32px;
    line-height: 0;
    text-indent: 0.75em;
    padding-left: 0px;
    padding-right: 0.75em;
    font-weight: 400;
    text-align: center;
    margin-right: 4px;
    color: @button_text_color;

    > i.fa {
      margin-left: -8px;

      &.icon-only {
        padding-right: 8px;
      }
    }
  }

  &.btn-tiny {
    font-size: 10px;
    height: 24px;
    line-height: 23px;
    padding-left: 4px;
    padding-right: 4px;

    &:not([disabled]) {
      &:active, &.active {
        padding-top: 1px !important;
      }
    }
  }

  &.toggle {
    &::before {
      content: '';
      opacity: 0.75;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      margin: -2px 6px 0 -2px;
      padding: 4px 3px 5px 5px;
      border-radius: 0px;
    }
  }

  &#user {
    max-width: 128px;
    text-overflow: ellipsis;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.65;
  }
}

.right > button, button.right {
  margin-right: 0;
  margin-left: 6px;
  &.btn-small { margin-left: 4px; }
}

.btn-group {
  display: flex;
  width: 100%;
  &.left, &.right { width: auto; }
}

body.alt {
  button:not(.btn-small) {
    padding: 0 6px;
  }
}

body.phone {
  button {
    font-weight: bold !important;
  }
}

header button {
  .button(lighten(@button_default_base_color, 15%), 25%);

  &.action {
    .button(desaturate(darken(@button_action_base_color, 15%), 10%), 40%);
  }
}
