/*
 * debugger.io: An interactive web scripting sandbox
 */

.button (@base: @button_default_base_color) {
  background: @base;

  @_text_shadow_color: desaturate(darken(@base, 8%), 10%);
  text-shadow: 1px 1px 0 @_text_shadow_color;

  &:hover {
    background: lighten(@base, 4%);
    text-shadow: 1px 1px 0 lighten(@_text_shadow_color, 5%);
  }

  &:active, &.active {
    text-shadow: 1px 1px 0 darken(@_text_shadow_color, 2%);
    background: darken(@base, 4%);
    padding-top: 2px !important;
  }
}

button {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  height: 33px;
  line-height: 28px;
  border: 1px solid @button_border_color;
  border-bottom: 2px solid @button_bottom_border_color;
  border-radius: 1px 1px 2px 2px;
  box-shadow: 0 0 4px @button_box_shadow_color;
  font-family: @button_font;
  font-weight: 300;
  font-size: @font_size + 2px;
  padding: 0 8px;
  margin-left: 0;
  margin-right: 6px;
  color: @button_text_color;
  text-align: right;
  transition: background @button_transition_time;
  overflow: hidden;
  letter-spacing: 0;

  &::-moz-focus-inner { border: none; }

  &.iconify > span {
    display: none;
  }

  > i.fa {
    width: 22px;
    display: inline-block;
    text-align: center;
    margin: 0 4px 0 -3px;
    padding-top: 4px;
    pointer-events: none;

    &.icon-only { margin-right: -3px; }
    &.fa-eye.fa-lg, &.fa-sort.fa-lg { vertical-align: -1px; }
  }

  .button(@button_default_base_color);
  &.btn-small {
    .button(@button_small_default_base_color);
    height: 32px;
    line-height: 0;
    text-indent: 0.75em;
    padding-left: 0px;
    padding-right: 0.75em;
    font-weight: 400;
    font-size: @font_size;
    text-align: center;
    margin-right: 4px;
    color: @button_text_color;
    border-color: @button_small_border_color;
    border-bottom-color: @button_small_bottom_border_color;

    > i.fa {
      margin-left: -8px;

      &.icon-only {
        padding-right: 8px;
      }
    }
  }

  &.action { .button(@button_action_base_color); }
  &.proceed { .button(@button_proceed_base_color); }
  &.warning { .button(@button_warning_base_color); }
  &.danger { .button(@button_danger_base_color); }
  &.purple { .button(@button_purple_base_color); }
  &.slate { .button(@button_slate_base_color); }

  &.warning {
    border-color: fadein(@button_small_border_color, 5%);
    border-bottom-color: fadein(@button_small_bottom_border_color, 5%);
  }

  &.toggle {
    &::before {
      content: '';
      opacity: 0.75;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      background-color: @toggle_bg_color;
      margin: -2px 6px 0 -2px;
      padding: 4px 3px 5px 5px;
      border: 2px solid @toggle_bg_color;
      border-radius: 1px;
      box-shadow: 0 0 0 1px lighten(@toggle_checked_bg_color, 5%),
        0 0 2px darken(@toggle_checked_bg_color, 5%);
    }

    &.checked::before {
      background-color: @toggle_checked_bg_color;
    }

    &:active::before, &.active::before {
      background-color: lighten(@toggle_checked_bg_color, 25%);
    }
  }
}

.right > button, button.right {
  margin-right: 0;
  margin-left: 6px;
  &.btn-small { margin-left: 4px; }
}

.btn-group {
  display: flex;
  width: 100%;
  &.left, &.right { width: auto; }
}

body.alt {
  button:not(.btn-small) {
    padding: 0 6px;
  }
}

body.phone {
  button {
    font-weight: bold !important;
  }
}
