/*
 * debugger.io: An interactive web scripting sandbox
 */

#com {
  position: absolute;
  z-index: 19;
  overflow: hidden;

  &._position {
    top: 4px;
    left: 4px;
  }

  user-select: none;

  background-color: @console_bg_color;
  box-shadow: 3px 3px 0 @console_border_color, 3px 3px 0 @console_border_color;
  border: 2px solid @console_border_color;

  width: 512px;

  display: none;
  opacity: 0;
  &._opacity { opacity: 0.95; }

  .com-title {
    display: flex;
    background-color: @console_title_bg_color;
    border-bottom: 2px solid @console_border_color;
    color: @console_title_text_color;
    cursor: move;
    padding: 0 8px;
    height: @console_title_height;
    line-height: @console_title_height;
    text-shadow: 1px 1px 1px darken(@console_title_bg_color, 5%);
    font-size: @font_size + 2px;
  }

  .com-wrapper {
    min-height: 2em;
    max-height: calc(80vh ~'-' 2 * @console_title_height);
    overflow-y: auto;

    .com-messages {
      display: table;
      overflow: hidden;
      margin: 4px;

      font-size: @font_size - 2px;
      font-family: monospace;
      line-height: 1.25em;

      .com-msg {
        display: table-row;
        color: @console_msg_text_color;
        text-shadow: 1px 1px 1px darken(@console_bg_color, 5%);

        &.com-msg-debug .com-args { color: @console_msg_text_color_debug; }
        &.com-msg-error .com-args { color: @console_msg_text_color_error; }
        &.com-msg-warn  .com-args { color: @console_msg_text_color_warn; }
      }

      .com-time {
        display: table-cell;
        padding-right: 1em;
        cursor: default;
      }

      .com-args {
        display: table-cell;
        user-select: text;
      }
    }
  }
}

body.phone {
  #com {
    width: calc(100% ~'-' 16px);
  }
}
