/*
 * debugger.io: An interactive web scripting sandbox
 */

.dropdown-menu, .chosen-drop {
  position: fixed;
  z-index: 25;
  box-shadow: 0 0 4px @dropdown_box_shadow_color;
  border: 2px solid @dropdown_border_color !important;
  background: @dropdown_bg_color !important;
  border-radius: 0 !important;
  min-width: 100px;
  height: auto !important;

  * { cursor: default !important; }

  .chosen-results {
    margin: 0;
  }

  .dropdown-menu-content, .chosen-results {
    padding: 4px;

    .dropdown-item { transition: none; }

    .dropdown-item, li {
      color: @dropdown_item_text_color !important;
      text-shadow: 1px 1px 0 darken(@dropdown_bg_color, 5%);
      overflow: hidden;
      user-select: none;
      font-family: @font;
      font-size: @font_size;
      padding: 8px 5px;
      margin: 0 0 2px 0;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:last-child { margin-bottom: 0; }

      &:hover, &.highlighted {
        background: @dropdown_item_hover_bg_color !important;
        text-shadow: 1px 1px 0 darken(@dropdown_item_hover_bg_color, 5%) !important;
        color: @dropdown_item_hover_text_color !important;
      }

      &.active, &.result-selected {
        background: @dropdown_item_active_bg_color !important;
        text-shadow: 1px 1px 0 darken(@dropdown_item_active_bg_color, 5%) !important;
      }

      > .subtext {
        font-size: @font_size - 1px;
        opacity: 0.8;
      }

      &.danger:hover {
        background: @button_danger_base_color !important;
        color: rgba(255, 255, 255, 0.95) !important;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5) !important;
      }
    }

    .dropdown-separator {
      background: @dropdown_border_color;
      padding: 0 !important;
      height: 1px;
      margin: 4px 0;

      &:first-child, &:last-child, + .dropdown-separator {
        display: none;
      }
    }
  }

  &.dropdown-right .dropdown-item {
    text-align: right;
  }
}
