/*
 * debugger.io: An interactive web scripting sandbox
 */

#flash {
  z-index: 100;
  position: absolute;
  display: none;
  left: 50%;
  width: 420px;
  margin-left: -210px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 15px 20px;
  border-radius: 2px;
  text-shadow: 2px 2px 0 rgba(128, 128, 128, 0.3);

  h1 {
    font-family: @monospace;
    font-size: @font_size + 6px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: @font_size + 1px;
    margin-top: 0.5em;
  }

  // neutral
  background: #BCD;
  border: 4px solid #359;
  color: #359;

  &.bad {
    background: #ECC;
    border-color: #B44;
    color: #B44;
  }

  &.good {
    background: #DED;
    border-color: #363;
    color: #363;
  }
}
