/*
 * debugger.io: An interactive web scripting sandbox
 */

// a LESS theme file must already be imported

@import url('//cdn.jsdelivr.net/jquery.ui/1.10/themes/jquery-ui.min.css');

@import url('//cdn.jsdelivr.net/meyer-reset/2.0/reset.min.css');
@import url('//cdn.jsdelivr.net/nanoscrollerjs/0.7/css/nanoscroller.css');
@import url('//cdn.jsdelivr.net/fontawesome/4.1/css/font-awesome.min.css');
@import url('//cdn.jsdelivr.net/chosen/1.1/chosen.min.css');

@import url('//fonts.googleapis.com/css?family=Montserrat');
@import url('//fonts.googleapis.com/css?family=Lobster+Two');
@import url('//fonts.googleapis.com/css?family=Oxygen:300,400');
@import url('//fonts.googleapis.com/css?family=Belgrano');
@import url('//fonts.googleapis.com/css?family=Droid+Sans+Mono');

* { transition: background 0.2s, border-color 0.2s, box-shadow 0.2s; }

body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body.mobile *:not(.transition) { transition: none !important; }

@popup_width: 800px;
@popup_height: 400px;

// Fonts
@font: 'Montserrat', sans-serif;
@button_font: 'Oxygen', sans-serif;
@logo_font: 'Lobster Two', cursive, sans-serif;
@title_font: 'Oxygen', sans-serif;
@serif_font: 'Belgrano', serif;
@system_font: 'Ubuntu', sans-serif;
@monospace_hard: 'Droid Sans Mono', 'Menlo';
@monospace: @monospace_hard, monospace;

@font_size: 12px;

// frontenddevreactions.tumblr.com/post/50110341554
*, *::before, *::after { box-sizing: border-box; }

html, body, #debuggerio {
  height: 100%;
  overflow: hidden;
  background: @bg_color;
  font-family: @font;
}

#blank {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.hide { display: none; }
.flex { display: flex; }
.left { float: left; }
.right { float: right; }
.faded { opacity: 0.7; }
.bold { font-weight: bold; }
.fwidth { width: 100%; }
.fheight { height: 100%; }
.noselect { user-select: none; }
.nopointer { pointer-events: none; }
.clear { clear: both; }

.nano > .content + .pane {
  margin: 2px;
  overflow: hidden;
  cursor: default;
}

.flow {
  max-height: 0;
  overflow: hidden;
  > :first-child {
    opacity: 0;
  }
}

@import 'buttons.less';
@import 'cdn.less';
@import 'com.less';
@import 'dropdown.less';
@import 'flash.less';
@import 'header.less';
@import 'inputs.less';
@import 'overlays.less';
@import 'panels.less';
@import 'popups.less';
