/*
 * debugger.io: An interactive web scripting sandbox
 */

header {
  width: 100%;
  height: @header_height;
  background: @header_bg_color;
  border-bottom: 4px solid @header_bottom_border_color;
  padding: @header_padding;
  overflow-x: auto;
  overflow-y: hidden;

  #title {
    display: none !important; // DEBUG
    display: inline-block;
    user-select: none;
    cursor: default;
    height: 100%;
    margin: 0 0 0 4px;
    padding: (@header_height / 2) - 10px 0;
    font-family: @logo_font;
    font-size: @header_height - 16px;
    letter-spacing: 1px;
    line-height: 0;
    color: @header_text_color;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    opacity: 0;
    vertical-align: middle;
  }

  #toolbar {
    position: absolute;
    right: @header_padding;
    top: @header_padding;
  }
}

main { height: calc(100% ~'-' @header_height); }
