/*
 * debugger.io: An interactive web scripting sandbox
 */

textarea, input, button, select {
  &:focus { outline: none; }
}

select {
  padding-left: 6px !important;
}

input[type='text'], input[type='password'],
input[type='search'], input[type='email'], select {
  &:not(.plain) {
    background: @input_bg_color;
    color: @input_text_color;
    padding: 2px 6px;
    font-family: @system_font;
    font-size: @font_size;

    border: 1px solid @input_border_color;

    &:focus {
      background: @input_bg_focus_color;
      border-color: fade(@input_border_focus_color, 95%);
    }

    &:disabled { background: @input_bg_disabled_color; }

    &::-webkit-input-placeholder {
      opacity: 0.6; color: @input_placeholder_color;
    }
    &::-moz-placeholder {
      opacity: 0.6; color: @input_placeholder_color;
    }
    &:-ms-input-placeholder {
      opacity: 0.6; color: @input_placeholder_color;
    }

    &.slate {
      background: lighten(@button_slate_base_color, 2%);
      border-color: darken(@button_slate_base_color, 15%);

      &:focus {
        background: desaturate(lighten(@button_slate_base_color, 6%), 2%);
      }

      &::-webkit-input-placeholder {
        opacity: 0.6; color: lighten(@button_slate_base_color, 70%);
      }
      &::-moz-placeholder {
        opacity: 0.6; color: lighten(@button_slate_base_color, 70%);
      }
      &:-ms-input-placeholder {
        opacity: 0.6; color: lighten(@button_slate_base_color, 70%);
      }
    }
  }

  &.plain {
    height: 42px;
    background: @input_plain_bg_color;
    color: @input_plain_text_color;
    border: 2px solid @input_plain_border_color;
    padding: 6px 8px;
    font-family: @font;
    font-size: @font_size + 2px;

    &:focus {
      background: @input_plain_bg_focus_color;
      border-color: @input_plain_border_focus_color;
    }

    &.full {
      width: 100% !important;
      padding: 10px;

      &:not(select) {
        margin-bottom: 10px;
      }
    }

    &:invalid {
      background: @input_plain_bg_invalid_color;
      border-color: @input_plain_border_invalid_color;
    };

    &::-webkit-input-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }
    &::-moz-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }
    &:-ms-input-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }

    &:disabled {
      background: @input_plain_bg_disabled_color;
      -webkit-user-select: none !important;
      cursor: default;
      color: #666 !important;
    }
  }
}

select option {
  background: #EEE;
  color: #333;
  font-size: 12px;
  transition: none !important;
}

input[type='checkbox'] {
  display: none;

  + label {
    color: fadeout(@popup_head_text_color, 25%) !important;
    font-size: 11px !important;
    height: auto;
    left: -6px;
    line-height: 100% !important;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 40px !important;
    padding-top: 0;
    position: relative;
    text-overflow: ellipsis;
    top: -6px;

    > span {
      display: inline-block;
      margin-top: -6px;
      max-height: 2em;
      overflow: hidden;
      white-space: normal;
    }

    &::before {
      display: inline-block;
      height: 25px !important;
      width: 25px !important;

      content: '';
      opacity: 0.75;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      background-color: @input_plain_bg_color;
      padding: 5px !important;
      border: 4px solid @input_plain_bg_color;
      position: absolute;
      left: 6px;
      bottom: 6px;
    }
  }

  &:checked + label::before {
    background: lighten(@input_plain_bg_color, 30%);
  }
}

