/*
 * debugger.io: An interactive web scripting sandbox
 */

textarea:focus, input:focus, button:focus { outline: none; }

input[type='text'], input[type='password'],
input[type='search'], input[type='email'] {

  &:not(.plain) {
    background: @input_bg_color;
    color: @input_text_color;
    padding: 2px 4px;
    font-family: @system_font;
    font-size: @font_size;

    border: 1px solid fade(@input_border_color, 80%);
    box-shadow: 0 0 2px fade(@input_border_color, 70%),
      inset 0 0 4px fade(@input_border_color, 10%);

    &:focus {
      background: @input_bg_focus_color;
      border-color: fade(@input_border_focus_color, 95%);
      box-shadow: 0 0 2px fade(@input_border_focus_color, 60%),
        inset 0 0 4px fade(@input_border_focus_color, 30%);
    }

    &:disabled { background: @input_bg_disabled_color; }

    &::-webkit-input-placeholder {
      opacity: 0.4; color: @input_placeholder_color;
    }
    &::-moz-placeholder {
      opacity: 0.4; color: @input_placeholder_color;
    }
    &:-ms-input-placeholder {
      opacity: 0.4; color: @input_placeholder_color;
    }
  }

  &.plain {
    background: @input_plain_bg_color;
    color: @input_plain_text_color;
    border: 2px solid @input_plain_border_color;
    box-shadow: 0 0 6px @input_plain_box_shadow_color;
    padding: 6px 8px;
    font-family: @font;
    font-size: @font_size + 2px;

    &:focus {
      background: @input_plain_bg_focus_color;
      border-color: @input_plain_border_focus_color;
    }

    &.full {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px 10px;
    }

    &:invalid {
      background: @input_plain_bg_invalid_color;
      border-color: @input_plain_border_invalid_color;
    };

    &::-webkit-input-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }
    &::-moz-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }
    &:-ms-input-placeholder {
      opacity: 0.4; color: @input_plain_placeholder_color;
    }
  }
}

input[type='checkbox'] {
  display: none;

  + label {
    transition: none;
    user-select: none;
    margin: 4px;
    width: 20px;
    height: 20px;
    max-height: 20px;
    background: @checkbox_bg_color;
    border: 2px solid @checkbox_border_color;
    box-shadow: 1px 1px @checkbox_border_color, 2px 2px @checkbox_border_color;
    border-radius: 3px;
  }

  &:hover + label { background: @checkbox_bg_hover_color; }
  &:active + label { background: @checkbox_bg_active_color; }

  &:checked + label {
    background-image: url(@checkbox_checkmark_image);
    background-repeat: no-repeat;
  }
}
