/*
 * debugger.io: An interactive web scripting sandbox
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
  background: @overlay_bg_color;

  .overlay-wrap {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    .overlay-msg, .overlay-err {
      margin: 0 auto 16px;
      padding: @overlay_msg_padding 0;
      border-radius: 1px;
      text-align: center;
      line-height: 1.25em;
      overflow: hidden;
    }

    .overlay-msg {
      max-width: 250px;
      font-size: 32px;
      background: @overlay_inset_bg_color;
      border: 1px solid @overlay_inset_border_color;
      box-shadow: 4px 4px 0 @overlay_inset_border_color;
      color: @overlay_inset_text_color;

      .overlay-progress {
        height: 4px;
        background-color: @overlay_progress_bg_color;
        margin-bottom: -@overlay_msg_padding;
        margin-top: @overlay_msg_padding;
        width: 0%;
        transition: width 0.05s;
      }
    }

    .overlay-err {
      opacity: 0;
      transition: opacity 0.5s;
      max-width: 450px;
      font-size: 16px;
      background: @overlay_inset_err_bg_color;
      border: 1px solid @overlay_inset_err_border_color;
      box-shadow: 4px 4px 0 @overlay_inset_err_border_color;
      color: @overlay_inset_err_text_color;
    }
  }

  &#loading .overlay-msg {
    font-family: @logo_font;
    letter-spacing: 1px;
  }
}
