/*
 * debugger.io: An interactive web scripting sandbox
 */

@import url('//cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/scroll/simplescrollbars.min.css');

body.ns, body.ns * { cursor: ns-resize !important; }
body.ew, body.ew * { cursor: ew-resize !important; }

// layout-cols
#input {

  background: @panel_options_bg_color;

  height: 100%;
  white-space: nowrap;
  font-size: 0;

  > * {
    display: inline-block;
    position: relative;
    height: 100%;
  }

  > .panel {
    background: @bg_color;
    vertical-align: top;
    width: 25%;

    .panel-options {
      background: lighten(@header_bg_color, 10%);
      border-top: 1px solid darken(@header_bg_color, 15%);
      border-bottom: 1px solid darken(@header_bg_color, 10%);
      display: flex;
      height: @panel_options_height;
      overflow: hidden;
      padding: @panel_padding;
      width: 100%;

      > * {
        height: 100%;
      }

      button {
        flex: 0 0 auto;
        font-size: @font_size - 1px;
      }

      .panel-controls {
        display: flex;
        flex: 1 auto;
      }

      .noselect:not(.ignore) + .right {
        margin-left: 0;
      }
    }

    .CodeMirror, iframe {
      height: calc(100% ~'-' @panel_options_height);
    }

    .CodeMirror {
      resize: none;
      padding: 4px;
      cursor: text;

      background: @bg_color;
      font-family: @monospace !important;
      font-size: @mirror_font_size !important;

      .CodeMirror-simplescroll-vertical {
        background: @scrollbar_bg_color;
        width: 10px;

        div {
          background: @scrollbar_fg_color;
          border-radius: 0;
          border: none;
        }
      }

      &.CodeMirror-focused {
        background: @mirror_focused_bg_color;
      }
    }
  }

  #output {
    background: @output_bg_color;
    > iframe {
      width: 100%;
    }

    &.fullscreen {
      border: none !important;
      left: 0;
      position: absolute;
      top: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      z-index: 16;

      .panel-options {
        display: none !important;
      }

      > iframe {
        height: 100vh !important;
      }
    }
  }

  .panel-resizer {
    z-index: 8;
    user-select: none;
    width: 0;
    height: 100%;

    > div {
      width: 8px;
      height: 100%;
      margin-left: -3px;
      cursor: ew-resize;

      &::before {
        content: '';
        display: block;
        height: 100%;
        margin-left: 2px;
        margin-top: 1px;
        opacity: 0.25;
        pointer-events: none;
        transition: background 0.1s;
        transition-delay: 0.05s;
        user-select: none;
        width: 2px;
      }
    }

    &:hover > div::before {
      background: darken(@header_bg_color, 5%);
    }
  }
}

#input.layout-top {
  white-space: normal;

  #output {
    border-left: none;
    width: 100%;

    .panel-options {
      border-color: 1px solid darken(@header_bg_color, 10%);
    }
  }

  .panel-resizer { height: 50%; }

  .panel-master-resizer {
    width: 100%;
    height: 0;

    > div {
      width: 100%;
      height: 8px;
      margin-top: -3px;
      margin-left: 0;
      cursor: ns-resize;
    }
  }
}

#input.layout-left {
  .panel.input-panel {
    display: block;
    border-right: none;
    border-left: none;

    width: 100%; // goes to 40%
    height: 33%;
  }

  #script, #style {
    .panel-options {
      border-color: darken(@header_bg_color, 10%);
    }
  }

  #style { height: 34%; }
  #script { border-bottom: none; }
  #output {
    position: absolute;
    top: @header_height;
    right: -60%; // goes to 0
    width: 60%;
    height: calc(100% ~'-' @header_height);
  }

  .panel-resizer {
    width: 40%;
    height: 0;

    > div {
      width: 100%;
      height: 8px;
      margin-top: -5px;
      margin-left: 0;
      cursor: ns-resize;
    }
  }

  .panel-master-resizer {
    width: 0;
    height: 100%;
    position: absolute;
    left: 100%; // goes to 40%
    top: @header_height;

    > div {
      width: 8px;
      height: 100%;
      margin-left: -3px;
      margin-top: 0;
      cursor: ew-resize;
    }
  }
}

body.phone #input.layout-top {
  .panel-resizer { display: none; }
  .panel {
    position: absolute;
    border: none;
  }

  .input-panel {
    top: @header_height;
    width: 100% !important;
    height: 45% !important;
    opacity: 0;
    transition: opacity 300ms;

    &.active-mobile {
      opacity: 1;
      z-index: 10;
    }
  }

  #output {
    top: calc(45% ~'+' @header_height);
    height: calc(55% ~'-' @header_height) !important;
  }
}
