/*
 * debugger.io: An interactive web scripting sandbox
 */

#popup {
  position: absolute;
  top: -50%;
  z-index: 20;

  width: 100%;
  height: 200%;
  background: @popup_overlay_bg_color;

  display: none;
  opacity: 0;

  .popup {
    position: absolute;
    background-color: @popup_bg_color;
    box-shadow: 0 0 4px @popup_border_color,
      4px 4px 4px @popup_border_color,
      4px 4px 0 @popup_border_color;
    border: 1px solid @popup_border_color;
    padding: 0;
    padding-bottom: calc(32px ~'+' 1.5em);

    width: @popup_width;
    left: calc(50% ~'-' (@popup_width / 2));
    top: calc(25% ~'+' 48px);

    &.popup-small {
      @_small_width: round(@popup_width / 1.5);
      width:  @_small_width;
      left: calc(50% ~'-' round(@_small_width / 2));
    }
  }

  .popup-head {
    font-family: @title_font;
    font-size:  1.4em;
    font-weight: 400;
    color: @popup_head_text_color;
    background-color: @popup_head_bg_color;
    padding: @popup_padding;
    border-bottom: 1px solid @popup_head_border_color;
    user-select: none;
    cursor: default;
  }

  .popup-wrap {
    padding: @popup_padding;
    padding-bottom: @popup_padding / 2;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .popup-actionbar {
    margin-left: -@popup_padding;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: @popup_actionbar_bg_color;
    border-top: 1px solid @popup_actionbar_border_color;
  }
}

body.phone {
  #popup .popup {
    width: calc(100% ~'-' 16px);
    left: 8px;
    top: calc(25% ~'-' @popup_padding ~'+' 8px);
    max-height: calc(100vh ~'-' 16px);
  }
}
