/*
 * sandbug: An interactive web scripting sandbox
 */

@popup_heading_font_size: @font_size * 1.75;
@popup_heading_height: @popup_heading_font_size * 2.5;

#popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;

  width: 100%;
  height: 100%;
  background: @popup_overlay_bg_color;

  display: none;
  opacity: 0;

  .popup {
    position: absolute;
    background-color: @popup_bg_color;
    border: 1px solid @popup_border_color;
    padding: 0;
    padding-bottom: calc(32px ~'+' 1.5em);
    box-shadow: 2px 2px @popup_border_color;

    width: @popup_width;
    left: calc(50% ~'-' (@popup_width / 2));
    top: 48px;

    p {
      color: @popup_head_text_color;
      font-size: 0.8em;
      line-height: 1.25em;
      padding: 10px 0 15px;
    }

    label {
      user-select: none;
      white-space: nowrap;
      height: 0;
      line-height: 0;
      padding: 22px 0;
      color: @popup_head_text_color;
      font-size: 0.8em;

      &:first-child {
        padding-right: 12px;
      }
    }

    .table .row label:first-child {
      width: 1px;
    }

    &.popup-small {
      @_small_width: round(@popup_width / 1.5);
      width:  @_small_width;
      left: calc(50% ~'-' round(@_small_width / 2));
    }

    .flex :last-child {
      flex-basis: 100%;
    }
  }

  .popup-head {
    font-family: @title_font;
    font-size:  @popup_heading_font_size;
    font-weight: 400;
    color: @popup_head_text_color;
    background-color: @popup_head_bg_color;
    height: @popup_heading_height;
    padding: (@popup_heading_height / 2) @popup_padding 0;
    line-height: 0;
    border-bottom: 1px solid @popup_head_border_color;
    user-select: none;
    cursor: default;
  }

  .popup-wrap {
    padding: @popup_padding;
    padding-bottom: @popup_padding / 2;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .popup-actionbar {
    margin-left: -@popup_padding;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: @popup_actionbar_bg_color;
    border-top: 1px solid @popup_actionbar_border_color;
  }

  .popup-separator {
    border-bottom: 2px solid @input_plain_border_color;
    color: @popup_head_text_color;
    cursor: default;
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;

    &:empty {
      padding: 0;
    }
  }
}

body.phone {
  #popup .popup {
    width: calc(100% ~'-' 16px);
    left: 8px;
    top: -8px;
    max-height: calc(100vh ~'-' 16px);

    .popup-wrap {
      max-height: calc(100vh ~'-' (@popup_heading_height + 72px));
    }
  }
}
