<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
      body { background-color: #FAFAFA; }
      <%= style.output %>
    </style>

    <% if (markup.mode === 'gfm') { %>
      <link rel='stylesheet' type='text/css' href='/css/gfm.min.css'>
    <% } %>

    <script type='application/javascript' src='/js/console.js'></script>

    <% if (script.mode === 'traceur') { %>
      <script type='application/javascript' src='/js/lib/traceur-runtime.min.js'></script>
    <% } %>

    <script type='application/javascript' src='/js/lib/loop-protect.min.js'></script>
    <script type='application/javascript'>
      document.addEventListener('DOMContentLoaded', function() {
        'use strict';

        try {
          (function() {
            <%= window.loopProtect.rewriteLoops(script.output) %>
          }).call(window);
        } catch(err) {
          console.error(err);
        }
      }, false);
    </script>
  </head>

  <body>
    <%= markup.output %>
  </body>
</html>
